<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.s4_quizz">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.S4_Quizz"
        tools:targetApi="31">

        <!-- Pantalla principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Nueva pantalla para mostrar categorías -->
        <activity android:name=".CategoriasActivity" />

        <!-- Nueva pantalla para Bienvenido con contador -->
        <activity android:name=".BienvenidoActivity" />

        <!-- Nueva pantalla para Próximamente -->
        <activity android:name=".ProximamenteActivity" />

        <!-- Nueva pantalla de resultados -->
        <activity android:name=".ResultadoActivity" />

        <!-- Nueva pantalla para resultado final con puntos totales -->
        <activity android:name=".ResultadoFinalActivity" />

    </application>

</manifest>
